*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: Arial Narrow,sans-serif;
}
body{
	background-color: #d0ecf4;
}
h1{
	color: #000066 ;

}
nav{

	background-image:url(backg2.jpg);
	height:83px;
	width: 63%;
	color: #FFFFFF;

}

.heading{
	font-size: 140%;
	line-height: 200%;
	padding:0 3.1rem;
	font-weight: bold;
	letter-spacing: 5px;

}

nav li {
	color: #FFFFFF;
	margin-right: 0.5%;
	margin-left: 0.5%;
}

.navActive  {
	margin: 0%;
	padding: 0.5% ;
	background-color:#089cfc ;
	color: #FFF;
	border-radius: 1%;
border:2px solid #b2b2b2;
}
.navActive a {

	margin:0.1%;
	padding:0% ;
	text-align: center;
	color: #FFF;
	border-radius: 1%;
	font-size:95% ;
}
.navActive li{
	background-color:#089cfc ;
}

.navActive :hover{
	background-color: #38ccfc;
	border-color:#ffba27 ;
}

.navList {
	margin-left: 1%; /* todo */
	padding: 0.1%;
	line-height:10px;
}
.navList li{
	display: inline;
}
.navList :hover{
	background-color: #38ccfc;
}
.navList li:hover{
	border-bottom: 2px solid #ffba27;
}

.searchbar{
	float: right;
}
.gobutton{
	background-color: #38ccfc;
	color: #FFFFFF;
	border: 0px solid #38ccfc;
	margin-top: 4%;
}
.inputtext{
	border:2.25px solid black;
}

div  ul li .navActive {

	margin-left: 11%;
	font-size: 190%;
}
div ul li  a{
	color:#838383 ;
	margin-left: 11%;
	font-size: 90%;
}

#nav {
	background-color: white;
	height:520px;
	width: 9%;
	margin-left:0.5%;
	margin-top: 2.5%;
	font-weight: bold;
	border-right: 2px solid #b2b2b2;
}
.sideBarTitle {
	color: #cc3300;
	margin-left:5%;
	margin-top: 0.1%;
	line-height: 280%;


}
ul li a{
	color: #cc3300;
	margin-left:5%;
	margin-top: 0.1%;
	line-height: 330%;
}

#footer{
line-height: 170%;
background-color: #68ccfc;
	height:4%;
	width: 90.5%;
	float: right;
	text-align: right;
	top:67% ;
	left:9.5%;
	text-decoration: underline;
	position: absolute;
}

div h1 {
	float: right;
	font-size: 175%;
	height: 2.25%;
	width: 100%;
}

#content{
	position: absolute;
  top: 20%;
  left: 11.5%;
  height:220%;
  text-align: justify;
  font-size:84%;
}

#content p{
	margin-bottom: 1.5%;
	color: #000066;
	width:97%;
	font-size: 101.1%;
}
#content a{
	text-decoration: underline;
	color: #089cfc;
}
.sideBarTitle a.selected{
	background-color: grey;
	border-color: grey;
}
.sideBarTitle a:hover.selected{
	background-color: #C8C8C8;
	border-color: #C8C8C8;
}
.selected:hover{
	background-color:#E6E6E6 ;
}

.selected a:hover{
	color: #33CEFF;
}


#content hr{
	float: left;
	margin-bottom: 0.8%;
}
hr {
	float: right;
}

/*Exercice 2*/
@media screen and (min-width: 400px) and (max-width: 600px){
	#nav  {
	width: 99%;
	height: auto;
	text-align: center;
	position: relative;
	margin-top: 1%;
	}

	#nav ul{
		justify-content: center;
	}
	#nav ul li a{
		text-align: center;
		float: none;
	}
	#footer{
	top:170%;
		left: 0%;
		width:100%;
	}
	#content{
		top: 100%;
		left: 3%;
	}
	.searchbar{
		top:161%;
		position: absolute;
		right: 1%;
	}

	nav{
		height: 80px;
		width: 100%;
	}

}

@media screen and (min-width: 600px) and (max-width: 900px){
	#nav{
		width: 20%;
		text-align: center;
	}
	#footer{
		top:85%;
		left: 20.5%;
		width: 79%;
	}
	hr{
		width: 99%;
	}
	#content {
		margin-left: 0;
		width: 75%;
		left:25%;
	}
	nav{
		height: 80px;
		width: 100%;
	}
