*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: Arial Narrow,sans-serif;
}
body{
	background-color: #d0ecf4  /*#D1F1FF*/  ;
}
h1{
	color: #000066 ;

}
nav{

	background-image:url(backg2.jpg) ;

	height: /*180% ;*/80px;
	width: 55%/*985px*/;
	color: #FFFFFF;

}

.heading{
	font-size: 140%/*20px*/;
	line-height: 200%/*19px*/;
	padding: /*0 1%*/0 3.1rem;
	font-weight: bold;
	letter-spacing: 5px;
}
nav div ul li a{
	color: #FFFFFF;

	margin-right: 0.5%/*1.0rem*/;
	margin-left: 0.5%/*0.1rem*/;
}

.navActive  {
	float: left;
	line-height: 90%/*0.1px*/;
	margin: 1% 0.1rem;
	padding: 0.1%  0.8%/*0.1px 5px*/ ;
	text-align: center;
	background-color:#089cfc ;
	color: #FFF;
	border-radius: 1%/*1px*/;
/*	border-radius: 0px;
	background-color: #8ACFFF;*/
}
.navActive a {
	float: left;
	line-height: 50%/*0.1px*/;
	margin:1% 0.5rem;
	padding: 0.1%  1%/*0.1px 5px*/ ;
	text-align: center;
	justify-content: center;
	background-color:#089cfc ;
	color: #FFF;
	border-radius: 1%/*1px*/;
	font-size:85% ;
/*	border-radius: 0px;
	background-color: #8ACFFF;*/
}
.navActive:hover{
	background-color: #38ccfc;
	border-color:#ffba27 ;
}
.navActive a:hover{
	background-color: #38ccfc;
	border-color:#ffba27 ;
}
.navList{
	margin: 0.5%/*0.1rem*/;
	padding: 0.7%  0.7%/*0.1px 5px*/ ;
	line-height:40px;
}
/*.navList :hover{
	background-color: #38ccfc;
	border-color:#ffba27 ;
}*/
.searchbar{
	float: right;
}
.gobutton{
	background-color: #38ccfc;
	color: #FFFFFF;
	border: 0px solid #38ccfc;
}
.inputtext{
	border:2.25px solid black;
}
/**/
div  ul li .navActive {

	margin-left: 11%/*1.2rem*/;
	font-size: 190%/*15px*/;
}
div ul li  a{
	color:#838383 ;
	margin-left: 11%/*1.2rem*/;
	font-size: 90%/*15px*/;
}

#nav {
	background-color: white;
	height:520px;
	width: 9%/*150px*/;
	margin-left:0.5% /*0.5rem*/;
	margin-top: 2.5%/*2.5rem*/;
	font-weight: bold;

}
.sideBarTitle {
	color: #cc3300;
	margin-left:5% /*8px*/;
	margin-top: 0.1%/*5px*/;
	/*font-size: 17px;
	height: 8px;*/
	line-height: 280%/*60px*/;

	/*line-height: 110px;*/
}
ul li a{
	color: #cc3300;
	margin-left:5% /*8px*/;
	margin-top: 0.1%/*5px*/;
	/*font-size: 17px;
	height: 8px;*/
	line-height: 330%/*60px*/;
}

#footer{
	line-height: 170%/*35px*/;
	background-color: #68ccfc;
	height:4%/*30px*/;
	width: 90.5%/*1365px*/;
	float: right;
	text-align: right;
	text-decoration: underline;
	position: absolute;
	top:73% /*400px*/;
	left:9.5% /*160px*/;
}
div h1 {
	float: right;
	font-size: 175%/*20px*/;
	height: 2.25%/*40px*/;
	width: 100%/*1300px*/;


}
#content{
	position: absolute;
    top: 20%/*140px*/;
    left: 11.5%/*180px*/;
    /*width:1300px;*/
    height:220%/*1300px*/;
    text-align: justify;
    font-size:85% /*13px*/;
	/*text-align: justify;
	float: right;
	font-size: 13.5px;
	height: 40px;
	width: 1300px;
	top: 50px;
	/*
	margin-left: 200px;*/
}
#content p{
	margin-bottom: 1%/*1em*/;
	color: #000066 /*#333c63*/;
	width:97%/*1270px*/;
}
#content a{
	text-decoration: underline;
	color: #089cfc;
}
.sideBarTitle a.selected{
	background-color: grey;
	border-color: grey;
}
.sideBarTitle a:hover.selected{
	background-color: #C8C8C8;
	border-color: #C8C8C8;
}
.selected:hover{
	background-color:#E6E6E6 ;
}

.selected a:hover{
	color: #33CEFF;
}
hr {
	float: LEFT;
	top: 80%;

}

/*Exercice 2*/
@media screen and (min-width: 400px) and (max-width: 600px){
	#nav  {
	width: 100%;
	/*float: left;*/
	height: auto;
	text-align: center;
	position: relative;
	margin-top: 20%;
	}

	#nav ul{
		justify-content: center;
	}
	#nav ul li a{
		text-align: center;
		float: none;
	}
	#footer{
		margin-top: 145%;
	}
	#content{
		margin-top: 125%;
	}
}

@media screen and (min-width: 600px) and (max-width: 900px){
	#nav{
		width: 20%;
		text-align: center;
	}
	#footer{
		top:90%;
		left: 20.5%;
	}
	#content {
		margin-left: 0;
		width: 80%;
		left:25%;
	}
	/*.col-s-1 {width: 8.33%;} .col-s-2 {width: 16.66%;} .col-s-3 {width: 25%;} .col-s-4 {width: 33.33%;} .col-s-5 {width: 41.66%;} .col-s-6 {width: 50%;} .col-s-7 {width: 58.33%;} .col-s-8 {width: 66.66%;} .col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;} .col-s-11 {width: 91.66%;} .col-s-12 {width: 100%;}
*/}
