*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: Arial Narrow,sans-serif;
}
body{
	background-color: #d0ecf4  /*#D1F1FF*/  ;
}
h1{
	color: #000066 ;

}
nav{
	
	background-image:url(backg2.jpg) ;
	
	height: 80px;
	width: 985px;
	color: #FFFFFF;
	
}

.heading{
	font-size: 20px;
	line-height: 19px;
	padding: 0 3.1rem;
	font-weight: bold;
	letter-spacing: 5px;
}
nav div ul li a{
	color: #FFFFFF;

	margin-right: 1.0rem;
	margin-left: 0.1rem;
}

.navActive  {
	float: left;
	line-height: 37px;
	margin: 0.1rem;
	padding: 0.1px 5px ;
	text-align: center;
	background-color:#089cfc ;
	color: #FFF;
	border-radius: 1px;
/*	border-radius: 0px;
	background-color: #8ACFFF;*/

}
.navActive:hover{
	background-color: #38ccfc;
	border-color:#ffba27 ;
}
.navList{
	line-height: 40px;
}
/*.navList :hover{
	background-color: #38ccfc;
	border-color:#ffba27 ;
}*/
.searchbar{
	float: right;
}
.gobutton{
	background-color: #38ccfc;
	color: #FFFFFF;
	border: 0px solid #38ccfc;
}
.inputtext{
	border: 2.25px solid black;
}

div  ul li a{
	color: #838383;
	margin-left: 1.2rem;
	font-size: 15px;
	line-height: 60px;
	

}

#nav {
	background-color: white;
	height:550px;
	width: 150px;
	margin-left: 0.5rem;
	margin-top: 2.5rem;
	font-weight: bold;
	
}
.sideBarTitle {
	color: #cc3300;	
	margin-left: 8px;	
	margin-top: 5px;
	/*font-size: 17px;	
	height: 8px;*/	
	

	/*line-height: 110px;*/
}
#footer{
	line-height: 35px;
	background-color: #68ccfc;
	height:30px;
	width: 1365px;
	float: right;
	text-align: right;
	text-decoration: underline;
	position: absolute;
	top: 400px;
	left: 160px;
}
div h1 {
	float: right;
	font-size: 20px;
	height: 40px;
	width: 1300px;
	

}
#content{
	position: absolute;
    top: 140px;
    left: 180px;
    /*width:1300px;*/
    height:1300px;
    text-align: justify;
    font-size: 13px;
	/*text-align: justify;
	float: right;
	font-size: 13.5px;
	height: 40px;
	width: 1300px;
	top: 50px;
	/*
	margin-left: 200px;*/
}
#content p{
	margin-bottom: 1em;
	color: #000066 /*#333c63*/;
	width:1270px;
}
#content a{
	text-decoration: underline;
	color: #089cfc;
}
.sideBarTitle a.selected{
	background-color: grey;
	border-color: grey;
}
.sideBarTitle a:hover.selected{
	background-color: #C8C8C8;
	border-color: #C8C8C8;
}
/*#cross-browser{
	text-align: justify;
	float: right;
	font-size: 11px;
	height: 40px;
	width: 1300px;
	margin: 30px auto;
}*/
hr {
	float: right;

}






